<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.generator.example.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.mybatis.generator.example.model.User">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_real_name" jdbcType="VARCHAR" property="uRealName" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_phone" jdbcType="VARCHAR" property="uPhone" />
    <result column="u_email" jdbcType="VARCHAR" property="uEmail" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
  </resultMap>
  <sql id="Base_Column_List">
    u_id, u_name, u_password, u_real_name, u_sex, u_phone, u_email, bank_id, bank_card
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where u_id = #{uId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where u_id = #{uId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatis.generator.example.model.User">
    insert into user (u_id, u_name, u_password, 
      u_real_name, u_sex, u_phone, 
      u_email, bank_id, bank_card
      )
    values (#{uId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uPassword,jdbcType=VARCHAR}, 
      #{uRealName,jdbcType=VARCHAR}, #{uSex,jdbcType=VARCHAR}, #{uPhone,jdbcType=VARCHAR}, 
      #{uEmail,jdbcType=VARCHAR}, #{bankId,jdbcType=INTEGER}, #{bankCard,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.generator.example.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uRealName != null">
        u_real_name,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uPhone != null">
        u_phone,
      </if>
      <if test="uEmail != null">
        u_email,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="bankCard != null">
        bank_card,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uRealName != null">
        #{uRealName,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null">
        #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null">
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankCard != null">
        #{bankCard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.generator.example.model.User">
    update user
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPassword != null">
        u_password = #{uPassword,jdbcType=VARCHAR},
      </if>
      <if test="uRealName != null">
        u_real_name = #{uRealName,jdbcType=VARCHAR},
      </if>
      <if test="uSex != null">
        u_sex = #{uSex,jdbcType=VARCHAR},
      </if>
      <if test="uPhone != null">
        u_phone = #{uPhone,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null">
        u_email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="bankCard != null">
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.generator.example.model.User">
    update user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_password = #{uPassword,jdbcType=VARCHAR},
      u_real_name = #{uRealName,jdbcType=VARCHAR},
      u_sex = #{uSex,jdbcType=VARCHAR},
      u_phone = #{uPhone,jdbcType=VARCHAR},
      u_email = #{uEmail,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      bank_card = #{bankCard,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=INTEGER}
  </update>
</mapper>